{{#if message}}
  <div class="nav">
    <h2>{{message}}</h2>
    <div class="bottonsNav">
      <form method="get" action="/api/login/logout">
      <button type="submit">Logout</button>
      </form>
      <form method="get" action="/api/dbCarts/{{cartId}}">
      <button type="submit">Mi carrito <span class="numProducts">{{cartQuantity}}</span></button>
      </form>
    </div>
  </div>
{{/if}}
<h1>Products</h1>
<ul>
{{#each products}}
  <li>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Price: {{price}}</p>
    <p>Category: {{category}}</p>
    <img src="{{image.url}}" alt="Imagen">

    {{#if ../cartId}}
    <form method="POST" action="/api/dbCarts/{{../cartId}}/{{this._id}}">
      <input type="hidden" name="product_id" value="{{_id}}">
      <button type="submit">Add to cart</button>
    </form>
    {{/if}}
  </li>
{{/each}}
</ul>
<div>
  {{#if prevLink}}
  <a href="{{prevLink}}">Prev</a>
  {{/if}}
  {{#if nextLink}}
  <a href="{{nextLink}}">Next</a>
  {{/if}}
</div>